.container {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}
  
.card {
    margin: 0 1% !important;
}

@media only screen and (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}

.confirmed {
    border-bottom: 1vh solid rgba(0, 0, 210, 0.5);
}

.recovered {
    border-bottom: 1vh solid rgba(0, 210, 0, 0.5);
}

.deaths {
    border-bottom: 1vh solid rgba(210, 0, 0, 0.5);
}